@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TMTechnology<br />
    844/C-Rong Dhonu,Toyobiya Sorok<br/>
    Baizid, Chittagong<br />
    <abbr title="Phone">+8801856548432</abbr>
    tmtechnology@potmail.com
</address>

<address>
 
</address>