@{
    ViewBag.Title = "Home Page";
}

<div style="background-color: blanchedalmond">
    <h1 style="margin-left: 30px; font-size: 36px">Specification of University Course and Result Management System</h1>
    <a href="#"><img src="~/Image/minsk.jpg" alt="Insert Logo Here" width="1140" height="500" style="background: #C6D580;" /></a>
</div>


<div class="row">
    
</div>